/* Tamanhos Usados para layout adaptativo e responsivo
320
480
760
960
1200
1600 */

img {
    width: 500px;
    height: 500px;
    /* object-fit: fill; */
    /* object-fit: contain; */
    /* object-fit: cover; */
    /* object-fit: none; */
    object-fit: scale-down;
}

body {
    background-color: #0F0;
}

@media (min-width: 1000px) {
    body {
        background-color: #00F;
    }
}

@media (min-width:700px) and (max-width: 1000px) {
    body {
        background-color: purple;
    }
}

@media (min-width: 300px) and (max-width: 700px) {
    body {
        background-color: royalblue;
    }
}

/* @media (max-width: 600px) {
    body {
        background-color: #F00;
    }

    h1 {
        font-size: 15px;
    }
} */