/* Tamanhos Usados para layout adaptativo e responsivo
320
480
760
960
1200
1600 */

img {
    width: 500px;
    height: 500px;
    /* object-fit: fill; */
    /* object-fit: contain; */
    /* object-fit: cover; */
    /* object-fit: none; */
    object-fit: scale-down;
}

body {
    /* background-color: #0F0; */
}

table, td {
    border: 2px solid #000;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

@media only print {
    /* h1 {
        font-size: 70px;
        font-weight: normal;
    }

    table, td {
        border: 0;
    } */

    h1 {
        display: none;
    }
}

/* @media all {

} */

/* @media only screen {

} */

/* @media (min-width: 1000px) {
    body {
        background-color: #00F;
    }

    h1 {
        font-size: 70px;
    }
}

@media (min-width:700px) and (max-width: 1000px) {
    body {
        background-color: purple;
    }

    h1 {
        font-size: 50px;
    }
}

@media (min-width: 300px) and (max-width: 700px) {
    body {
        background-color: royalblue;
    }

     h1 {
        font-size: 30px;
    }
}

@media (max-width: 300px) {
    h1 {
        font-size: 14px;
    }
} */

/* @media (max-width: 600px) {
    body {
        background-color: #F00;
    }

    h1 {
        font-size: 15px;
    }
} */